.projects-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  color: black;
  background-color: #f3f9d2;
  z-index: -1;
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;

  p {
    font-size: 1.6rem;
  }
}
.backUpButton {
  font-size: 3rem;
  color: #d6e5e3;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #001514;
  border-radius: 5%;
  box-shadow: 0.1rem 0.2rem 0.4rem #111;
  padding: 0 2rem;
  margin-top: 0.5rem;
  z-index: 1;

  &:hover {
    cursor: pointer;
    scale: 1.1;
  }
}

.hidevhvw {
  height: auto;
}
.changeZup {
  z-index: 1;
}

.project-header {
  position: relative;
  z-index: 1;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.project-header-container:hover {
  color: #f3f9d2;
}

.line {
  width: 35%;
  height: 0.5rem;
  position: absolute;

  &__upperRight {
    background-color: #32493e;
    top: 10rem;
    right: 0;
  }

  &__lowerLeft {
    background-color: #32493e;
    bottom: 8rem;
    left: 0;
  }
  &__midLeft {
    background-color: #001514;
    top: -15%;
    left: -35%;
  }
  &__midRight {
    background-color: #001514;
    top: -15%;
    right: -35%;
  }
}

////////////////////////////////MEDIA QUERY//////////////////////////////////

//1568px
@media (max-width: 98em) {
  .kuponoLeaf {
    height: 100%;
  }
  .imageContainer {
    height: 85%;
  }
  .kuponoSiteMini {
    width: 25rem;
  }

  .sidePicAnchor {
    display: flex;
  }

  .side {
    align-self: flex-end;
    height: 50%;
    margin: 1rem 1rem 10rem 1rem;
  }

  .rsi {
    height: 44vh;
  }

  .projectCard {
    padding: 1rem;
    min-width: 31rem;
    margin: 1rem 0rem 1rem 1rem;
    img {
      width: 25rem;
    }
  }

  .techStack {
    width: fit-content;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .cardFlexContainer {
    width: 60rem;
  }
}
