.circle-two {
  z-index: 9;
  height: 90vh;
  width: 90vh;
  background-color: #32493e;
  color: #d6e5e3;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  overflow: hidden;

  background-image: linear-gradient(to top, #111111e5, #3f3e3edc),
    url("../images/aboutBG.JPG");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  .about-container {
    padding: 5rem;
  }

  p {
    padding: 2rem 8rem;
  }
}

///////////////////////////MEDIA QUERY///////////////////////
//1088px
@media (max-width: 68em) {
  .circle-two {
    p {
      padding: 2rem 4rem;
    }
  }
}
