.contactFormContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #32493e;

  padding: 5rem;

  color: #001514;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  scale: 0;
  z-index: -10;
}

.contactBG {
  position: absolute;
  filter: brightness(50%);
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -11;
  opacity: 0.5;
}
.contactOpacity {
  opacity: 1;
  scale: 1;
  z-index: 0;

  transition: 0.1s ease-in-out;
}

.form {
  font-size: 3.6rem;
  height: fit-content;
  width: 60rem;
  border-radius: 5rem;

  padding: 2.4rem;
  background-color: #d6e5e3;
}

label {
  display: flex;
  margin-top: 2rem;
}
.labelName {
  width: 10rem;
  text-align: left;
}
input {
  width: 100%;
  padding: 0.5rem;
}

.messageBox {
  width: 100%;
}
.contactButtons {
  display: flex;
  gap: 20rem;
  justify-content: space-between;
  margin-top: 5rem;
}

.backButton,
.submitButton {
  display: inline;
  color: #d6e5e3;
}

/////////////////////////////MEDIA QUERY///////////////////////////
//640px
@media (max-width: 40em) and (orientation: portrait) {
  .contactButtons {
    gap: 2.5rem;
  }
}
