.NavContainer {
  height: 100%;
  width: 33.4%;
  background-color: #534b52;
  color: #f1f0ea;
  padding: 10rem 1rem 1rem 1rem;
  text-align: center;
  font-size: 1.8rem;
  position: fixed;
  box-shadow: 0.3rem 0.5rem 0.7rem black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 45em) {
    .NavContainer {
      font-size: 1.4rem;
    }
  }
  .nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-evenly;
    padding-top: 4rem;
  }

  .gitHubLink {
    margin-bottom: 5rem;
    align-self: center;

    &:hover {
      transform: translate(0.1rem, 0.2rem);
      box-shadow: 0.1rem 0.2rem 0.2rem #2e232e;
      transition: ease 0.2s;
    }
    img {
      width: 3rem;
      height: 3rem;
    }
  }
}
