.ProjectsContainer {
  background-color: #2d232e;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.8rem;
  transition: ease-in-out 0.5s;

  &:hover {
    .card {
      filter: grayscale(1);
    }
  }

  a {
    display: flex;
    justify-content: center;
    transform: translateY(10rem);
  }

  .card {
    flex-direction: row;
    background-color: #2d232e;
    max-width: 90%;
    color: #f1f0ea;
    padding: 1rem;
    border: none;
    transition: 0.3s ease;
    transform: translateY(5rem);

    &:hover {
      background-color: #534b52;
      transition: ease 0.1s;
      transform: translate(0.1rem, -0.3rem);
      box-shadow: 0.3rem 0.5rem 0.7rem black;
      filter: grayscale(0);
    }
  }

  // Max width 1000px
  @media (max-width: 63em) {
    .card {
      flex-direction: column;
    }
    .card-img {
      align-self: center;
    }
  }

  // Max width 640px
  @media (max-width: 40em) {
    .card {
      .card-img {
        width: 75%;
      }
    }
  }

  // Max width 608px
  @media (max-width: 38em) {
    .card {
      background-color: #534b52;

      .longBadges {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .card-title {
    font-size: 2rem;
  }

  .card-img {
    width: 40%;
    object-fit: contain;
  }

  .card-text {
    padding: 2rem 0rem;
  }
  .cardLinks {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
  }
  .card-link {
    border-radius: 0.5rem;
    transform: translateY(0);
    img {
      max-width: 3.5rem;
    }
    &:hover {
      color: #f1f0eab4;
    }
  }

  .shiftUp {
    transition: transform 0.5s;
    transform: translateY(0rem);
  }
}
