.projects-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  color: black;
  background-color: #f3f9d2;
  z-index: -1;
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;

  p {
    font-size: 1.6rem;
  }
}
.backUpButton {
  font-size: 3rem;
  color: #d6e5e3;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #001514;
  border-radius: 5%;
  box-shadow: 0.1rem 0.2rem 0.4rem #111;
  padding: 0 2rem;
  margin-top: 0.5rem;
  z-index: 1;

  &:hover {
    cursor: pointer;
    scale: 1.1;
  }
}

.hidevhvw {
  height: auto;
}
.changeZup {
  z-index: 1;
}

.project-header {
  position: relative;
  z-index: 1;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.project-header-container:hover {
  color: #f3f9d2;
}

.line {
  width: 35%;
  height: 0.5rem;
  position: absolute;

  &__upperRight {
    background-color: #32493e;
    top: 10rem;
    right: 0;
  }

  &__lowerLeft {
    background-color: #32493e;
    bottom: 8rem;
    left: 0;
  }
  &__midLeft {
    background-color: #001514;
    top: -15rem;
    left: -35%;
  }
  &__midRight {
    background-color: #001514;
    top: -15rem;
    right: -35%;
  }
}

///////// KUPONO ACRES /////////

.kuponoContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.kupono {
  padding: 0 5rem;
  height: 50vh;
  width: 100vw;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
}

.kuponoLeaf {
  position: absolute;
  top: 0;
  right: -5%;
  z-index: -1;
  rotate: -180deg;
  opacity: 1;
}

.imageContainer {
  position: relative;
  width: 50%;
  height: 100%;
  z-index: 2;
}

.kuponoSiteMain {
  position: absolute;
  left: 0;
  object-fit: contain;
  height: 100%;
  width: auto;
  box-shadow: 0.1rem 0.2rem 0.3rem #111;
}
.kuponoSiteMini {
  box-shadow: 0.1rem 0.2rem 0.3rem #111;
  width: 40rem;
  position: absolute;
  bottom: -15%;
  right: -130%;
}
.kuponoDescContainer {
  color: #d6e5e3;
  padding: 10rem;
  text-align: left;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    z-index: -1;
    width: 300%;
    height: 60%;
    background: #32493ef8;
    top: 3rem;
    right: -5%;
    position: absolute;
  }
}

.kuponoDesc {
  grid-column: 2 / 3;
  padding: 5rem;
}

///////// RSI /////////

.rsi {
  width: 100%;
  height: 40vh;
  padding: 5rem;
  background-color: #001514ea;
  color: #d6e5e3;
  position: relative;
}
.rsiBG {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.rsi-gridGallery {
  height: 60rem;
  width: 100%;
  padding: 5rem;
  display: flex;
  justify-content: space-evenly;
}

.side {
  object-fit: cover;
  width: 70rem;
  height: 72%;
  box-shadow: 0.1rem 0.2rem 0.3rem #111;
}

.middle {
  object-fit: cover;
  height: 100%;
  width: 28rem;
  box-shadow: 0.1rem 0.2rem 0.3rem #111;
}

.rsi-desc {
  padding: 10rem;
  position: absolute;
  top: 10%;
  left: 0;
  opacity: 0;
  z-index: -1;
  height: fit-content;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    padding-bottom: 5rem;
  }
  p {
    width: 50%;
    text-align: center;
  }
}

//////// OTHER PROJECTS ///////
.otherProjects {
  width: 100vw;
  height: 100vh;
  padding: 10rem 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.largeGear {
  width: 150rem;
  height: 150rem;
  position: absolute;
  bottom: -50%;
  left: -10%;
  z-index: -2;
}

.smallGear {
  width: 100rem;
  height: 100rem;
  position: absolute;
  top: -10%;
  right: -10%;
  z-index: -2;
}

.overFlowContainer {
  //equals only visible card width
  width: 170rem;
  margin-top: -10rem;
  overflow-x: hidden;
  background-color: #d6e5e3;
  box-shadow: 0.4rem 0.4rem 0.4rem #001514;
  border: #001514 0.5rem solid;
}

.cardFlexContainer {
  //equals total cards width
  display: flex;
  width: fit-content;
  height: 64rem;
}

////////////////////////////////MEDIA QUERY//////////////////////////////////
//1920px (mid-size screen)
@media (max-width: 120em) {
  .kuponoDescContainer {
    padding: 5rem 2.4rem;
  }

  .kuponoSiteMini {
    right: -145%;
  }

  .rsi-gridGallery {
    height: 50rem;
  }

  .rsi {
    height: 47vh;
  }
  .rsi-desc {
    padding: 5rem;
  }
  .side {
    width: 50rem;
    height: 66%;
    margin: 5rem;
  }

  .middle {
    width: 21rem;
    height: 38rem;
  }

  .line__midLeft,
  .line__midRight {
    top: -10rem;
  }

  .projects-container {
    p {
      font-size: 1.4rem;
    }
  }

  .otherProjects {
    padding: 10rem 10rem 0rem 10rem;
  }
  .largeGear {
    width: 100rem;
    height: 100rem;
  }
  .smallGear {
    width: 60rem;
    height: 60rem;
  }

  .cardFlexContainer {
    height: 44rem;
  }
}
