html,
body {
  font-size: 62.5%;
  font-family: "Oswald";
  overflow-x: hidden;
}

@media (max-width: 60em) {
  html {
    font-size: 61%;
  }
}

@media (max-width: 40em) {
  html {
    font-size: 58%;
  }
}
